body{
    background-image: url(../img/JS.png);
    background-size: cover;
}
header{
    display: flex;
    justify-content: center;
    color: rgb(167, 16, 16);
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.537);
    
}
button{
    background-color: rgb(189, 223, 16);
    color: rgb(255, 64, 0);
    border-radius: 7px;
    width: 7rem;
    height: 2rem;
    cursor: pointer;
    
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:x-large;
    font-weight: bold;
    color: rgb(226, 43, 58);
}